.lla-landing{

    p,ul, ol{
        margin-bottom: 20px;
    }

    .heading-icon{
        max-height: 35px !important;
    }
    h3{

        .heading-icon{
            max-height: 25px !important;
            width: auto !important;
        }  
    }

}